body {
    background-color: rgb(37, 36, 36);
}

body::selection{
    background-color: #669966;
    color: #fff;
}

h1 {
    text-align: center;
    color:#669966;
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 50px;
}

.encrypted, .decrypted {
    margin: 10px;
    background-color: rgb(43, 43, 43);
    color: #669966;
    display:grid;
    padding-bottom: 10px;
    justify-content: center;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 4px 15px -2px rgb(0 0 0/ 75%);
    font-family: 'Roboto Mono', monospace;
    font-weight: 100;
    font-size: 20px;
}

.encrypted > h3, .decrypted > h3 {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-size: 30px;
}


.encrypted::selection, .decrypted::selection, h3::selection, h1::selection, br::selection, .text-field::selection, button::selection, .rotor-selection::selection{
    background-color: #669966;
    color: #fff;
}

button:hover::selection {
    background-color: #fff;
    color: #669966;
}

button {
    width: fit-content;
    height: 55px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    text-decoration: none;
    border-left-width: 1px;
    border-color:rgb(194, 194, 194);
    border-left-color:rgb(37, 36, 36);
    border-style:solid;
    background-color: rgb(194, 194, 194);
    color: #000;
    cursor: pointer;
    /* position:static; */
}

button:hover {
    color: #000;
    background-color: rgb(186,186,186);
    border-color:rgb(186,186,186);
    border-left-width: 1px;
    border-left-color:rgb(37, 36, 36);
}

.message {
    display: flex;
    justify-content: center;
    /* border:none; */
    position:relative;
}

.text-field:placeholder-shown {
    font-style: italic;
}
.text-field:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.text-field {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    display: inline-flex;
    height: 53px;
    width: 750px;
    background-color: rgb(194, 194, 194);
    color: #000;
    border: none;
    position: static;
    left: 55px;
    padding-left: 8px;
    padding-right: 4px;
}

.rotor-selection {
    height: 55px;
    width: fit-content;
    background-color: rgb(194, 194, 194);
    color: #000;
    border: 5px;
    border-radius: 2px;
}

#first-selection {
    margin-left: 3.5px;
}