* {
    font-family: 'Roboto Mono', monospace;
    color:#669966;
}

*::selection{
    background-color: #669966;
    color: #fff;
}
body {
    background-color: rgb(37, 36, 36);
}

h1 {
    text-align: center;
    font-weight: 100;
    font-size: 50px;
}

.encrypted, .decrypted {
    margin: 10px;
    background-color: rgb(43, 43, 43);
    display:grid;
    padding-bottom: 10px;
    justify-content: center;
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0px 4px 15px -2px rgb(0 0 0/ 75%);
    font-weight: 100;
    font-size: 20px;
}

.encrypted > h3, .decrypted > h3 {
    font-weight: 400;
    font-size: 30px;
}

button {
    width: fit-content;
    height: 55px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 0px;
    border-top-right-radius: 3px;
    text-decoration: none;
    border-left-width: 1px;
    border-color:rgb(194, 194, 194);
    border-left-color:rgb(37, 36, 36);
    border-style:solid;
    background-color: rgb(194, 194, 194);
    color: rgb(37, 36, 36);
    cursor: pointer;
}

button:hover {
    color: rgb(37, 36, 36);
    background-color: rgb(186,186,186);
    border-color:rgb(186,186,186);
    border-left-width: 1px;
    border-left-color:rgb(37, 36, 36);
}

.message {
    display: flex;
    justify-content: center;
    position:relative;
}

.text-field {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 3px;
    border-top-right-radius: 0px;
    height: 53px;
    width: 750px;
    background-color: rgb(194, 194, 194);
    color: rgb(37, 36, 36);
    border: none;
    position: static;
    left: 55px;
    padding-left: 8px;
    padding-right: 4px;
}
.text-field:placeholder-shown {
    font-style: italic;
}
.text-field:focus {
    outline: none;
}

.rotor {
    border: none;
    position:relative;
    display: flex;
}
.rotor-selection {
    height: 55px;
    width: fit-content;
    background-color: rgb(194, 194, 194);
    color: rgb(37, 36, 36);
    border-radius: 3px;
    margin: none;
    padding: none;
    border: none;
    margin-left: 3px;
}

optgroup, .rotor-option {
   color: rgb(37, 36, 36);
}

.rodape{
    grid-area: rodape;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3rem;
    padding-right: 20px;
}